{% import "_includes/forms" as forms %}

{{ forms.textField({
  label: 'CPanel CSS',
  id: 'cpcss',
  name: 'cpcss',
  value: settings.cpcss,
})}}

{{ forms.textField({
  label: 'Typekit Kit ID',
  id: 'tkid',
  name: 'tkid',
  value: settings.tkid,
})}}

<div class="field" id="settings-tkid-field">
  <div class="heading"><label id="settings-tkid-label" for="settings-tkid">Typekit Async</label></div>

  {{ forms.lightswitch({
    label: 'Typekit Async',
    id: 'async',
    name: 'async',
    value: settings.async,
    on: settings.async
  })}}
</div>
